@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
}

@keyframes characterFloat {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-14px) scale(1.03);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes pulseGlow {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}

.float-character {
  animation: characterFloat 4s ease-in-out infinite;
}

.glow-cyan {
  animation: pulseGlow 4s ease-in-out infinite;
}

.glow-purple {
  animation: pulseGlow 5s ease-in-out infinite;
}